{% extends "base.html" %}

{% block title %}
Phòng Đã Đặt
{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-4">Phòng Đã Đặt</h1>
    
    {% if bookings %}
        <div class="row">
            {% for booking in bookings %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="{{ booking.room_number.ImageURL }}" class="card-img-top" alt="{{ booking.room_number.room_type }}" style="width: 100%; height: 300px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ booking.room_number.room_type }}</h5>
                            <p class="card-text">Khách sạn: {{ booking.hotel_name.hotel_name }}</p>
                            <p class="card-text">Số phòng: {{ booking.room_number.room_number }}</p>
                            <p class="card-text">Ngày đặt: {{ booking.booking_date }}</p>
                            <p class="card-text">Số ngày lưu trú: {{ booking.day_stay }}</p>
                            <a href="#" class="btn btn-info">Xem Chi Tiết</a>
                            <a href="#" class="btn btn-danger">Hủy</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">Bạn chưa đặt phòng nào.</p>
    {% endif %}
</div>
{% endblock %}
