{% extends "base.html" %}

{% block title %}
Chính Sách
{% endblock %}


{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-4">Chính Sách</h1>

    <section>
        <h2 class="mb-3">Giới thiệu</h2>
        <p>Thông tin về các điều khoản, điều kiện sử dụng dịch vụ, và các quyền lợi của khách hàng khi sử dụng dịch vụ của chúng tôi.</p>
    </section>

    <section>
        <h2 class="mb-3">Điều Khoản Sử Dụng</h2>
        <ul>
            <li>Quy định về việc đặt phòng.</li>
            <li>Quy trình thanh toán và hủy bỏ đặt phòng.</li>
            <li>Điều khoản sử dụng dịch vụ khách sạn.</li>
        </ul>
    </section>

    <section>
        <h2 class="mb-3">Chính Sách Bảo Mật</h2>
        <p>Chính sách bảo mật thông tin của khách hàng và cam kết bảo vệ quyền riêng tư.</p>
    </section>

    <section>
        <h2 class="mb-3">Liên Hệ</h2>
        <p>Nếu có bất kỳ câu hỏi nào về chính sách, vui lòng liên hệ với chúng tôi qua email hoặc số điện thoại được cung cấp.</p>
    </section>
</div>
{% endblock %}
